body {
    background: #F8F9FA; /* fallback for old browsers */
}

.form {
    background-color: #F8F9FA;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
}

.form-body {
    text-align: center;
    padding: 20px 10px;
}

    .form-body > * {
        padding: 5px;
        text-align: center;
    }

.form__label {
    width: 40%;
    text-align: left;
}

.form_input {
    width: 60%;
}

.footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border: 000000;
}

.center {
    text-align: center;
    position: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.form-floating {
    padding: 4px;
    position: relative;
}

.here2 {
    border: none;
    background-color: #F8F9FA;
    color: #27374D;
    text-decoration: underline;
}

.buttona {
    background-color: #526D82;
    color: #fff;
    border: 2px solid #fff;
    width: 60%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1.1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
}

    .buttona:hover {
        color: #526D82;
        background-color: #fff;
        border: 2px solid #9DB2BF;
    }

#formH {
    width: 21%;
    min-width: 400px;
}

.centerDiv {
    text-align: center;
    display: flex;
    justify-content: center;
}

.spanInput {
    position: absolute;
    left: 90%;
    top: 64%;
    transform: translateY(-50%);
    font-weight: 300;
}

.spanInputPeriod {
    position: absolute;
    left: 83%;
    top: 64%;
    transform: translateY(-50%);
    font-weight: 300;
}

.thElement {
    font-size: 20px;
    font-weight: 400;
}

.tdElement {
    font-size: 30px;
    font-weight: 700;
}
.scheduleTd {
    background-color: #DDE6ED;
}
.defaultButton {
    background-color: #FFFFFF;
    border: none
}
