body{
    background: #FFFFFF;  /* fallback for old browsers */
}

.form{
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
}

.form-body{
    text-align: center;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
    text-align: center;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
    position:"flex";
    margin-top: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
}
